<app-navbar></app-navbar>
<body>
<div class="container">
<div class="row">
  <div class="col-12">
    <h1>Build a playlist</h1>
    <p>Select a mood below, and we'll return a playlist of songs from your Spotify library that perfectly match.</p>
  </div>
</div>
<div class="row">

  <!-- Card for Happy -->
  <div class="col-sm-3">
    <div class="card pmd-list" (click)="selectMood('Happy')">
      <div class="list-group-item d-flex flex-row align-items-center">
          <img class="pmd-list-icon pmd-sm" src="../../../assets/happy.svg" alt="Happy">
          <span class="media-body"><h4 style="text-align: center;">Happy</h4></span>
      </div>
    </div>
  </div>
  
  <!-- Card for Sad -->
  <div class="col-sm-3">
    <div class="card pmd-list" (click)="selectMood('Sad')">
      <div class="list-group-item d-flex flex-row align-items-center">
          <img class="pmd-list-icon pmd-sm" src="../../../assets/sad.svg" alt="Sad">
          <span class="media-body"><h4 style="text-align: center;">Sad</h4></span>
      </div>
    </div>
  </div>

  <!-- Card for Energetic -->
  <div class="col-sm-3">
    <div class="card pmd-list" (click)="selectMood('Energetic')">
      <div class="list-group-item d-flex flex-row align-items-center">
          <img class="pmd-list-icon pmd-sm" src="../../../assets/energetic.svg" alt="Energetic">
          <span class="media-body"><h4 style="text-align: center;">Energetic</h4></span>
      </div>
    </div>
  </div>

  <!-- Card for Chill -->
  <div class="col-sm-3">
    <div class="card pmd-list" (click)="selectMood('Calm')" word-wrap>
      <div class="list-group-item d-flex flex-row align-items-center">
          <img class="pmd-list-icon pmd-sm" src="../../../assets/calm.svg" alt="Calm">
          <span class="media-body"><h4 style="text-align: center;">Chill</h4></span>
      </div>
    </div>
  </div>
  

  </div>
  <!--
  <div class="row">

  <!- - Card for Focus - ->
  <div class="col-sm-3">
    <div class="card pmd-list" (click)="selectMood('Focus')">
      <div class="list-group-item d-flex flex-row align-items-center">
          <img class="pmd-list-icon pmd-sm" src="../../../assets/focus.svg" alt="Focus">
          <span class="media-body"><h4 style="text-align: center;">Focus</h4></span>
      </div>
    </div>
  </div>
  

  <!- - Card for Love - ->
  <div class="col-sm-3">
    <div class="card pmd-list" (click)="selectMood('Love')">
      <div class="list-group-item d-flex flex-row align-items-center">
          <img class="pmd-list-icon pmd-sm" src="../../../assets/love.svg" alt="Love">
          <span class="media-body"><h4 style="text-align: center;">Love</h4></span>
      </div>
    </div>
  </div>

  <!- - Card for Sleep - ->
  <div class="col-sm-3">
    <div class="card pmd-list" (click)="selectMood('Sleep')">
      <div class="list-group-item d-flex flex-row align-items-center">
          <img class="pmd-list-icon pmd-sm" src="../../../assets/sleep.svg" alt="Sleep">
          <span class="media-body"><h4 style="text-align: center;">Sleep</h4></span>
      </div>
    </div>
  </div>

  </div>-->
  
</div>

<div class='container' *ngIf="showResults">
  <div class="row">
    <div class='gen-playlist'>
      <p>Here is your ideal <b>{{ mood }}</b> playlist:</p>
      <app-track-list [tracks]="generatedPlaylist"></app-track-list>
    </div>
  </div>
</div>

</body>
