<app-navbar></app-navbar>
<body>
	<div class="hero-intro">
		<div class="hero-text">
			<h1>Understand Your Playlists Better</h1>
			<p>Music is the window to the soul. Our state of the art vibe-rater will tell you which songs fit a sad, calm, energetic, or happy mood!</p>
		</div>
		<img src="/assets/home-intro.svg" width="900">
	</div>

	<div class="card-deck">

		<div class="card">
		<a href="rate-playlist">
			<div class="card-body">
				<h3 class="card-title">RATE</h3>
				<p class="card-text">Select a playlist and we'll tell you what mood(s) it encompasses</p>
			</div>
		</a>
		</div>

		<div class="card">
		<a href="build-playlist">
			<div class="card-body">
				<h3 class="card-title">BUILD</h3>
				<p class="card-text">Select a mood, and we'll build an ideal playlist from your current Spotify library.</p>
			</div>
		</a>
		</div>

		<div class="card">
		<a href="compare">
			<div class="card-body">
				<h3 class="card-title">COMPARE</h3>
				<p class="card-text">Give us two playlist links and we'll compare them.</p>
			</div>
		</a>
		</div>

	</div>
</body>