
nav {
    padding-bottom: 50px;
    padding-top: 20px;
}
ul {
    padding: 0;
    list-style-type: none;
}
.nav-container {
    display: flex;
    flex-direction: row; 
}
.nav-logo {
    display: flex;
    justify-content: center;
}

.menu-left {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}
.menu-left li:not(:last-child) {
    padding-right: 50px;
}
.menu-right {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}
.menu-right li {
    padding-left: 50px;
}

.user-icon {
    border-radius: 50%;
}